 <div class="row container">       
    <tabset>
        <tab *ngFor="let tab of tabs"
         [heading]="tab.title"
         (selectTab)="onChangeTab(tab)"
         (deselect)="tab.active = false"
         >
        </tab>
    </tabset>
 <div>
<i (click)="count = reset(count)" class="fas fa-heart-broken" [ngClass]="{'icon-color-black': count === 1}" [ngClass]="{'icon-color-green': count === 2}" [ngClass]="{'icon-color-blue': count === 3}" [ngClass]="{'icon-color-red': count === 4}"></i>
 </div>
</div>