 <div class="row">  
   <div class="col col-6">   
    <tabset>
        <tab *ngFor="let tab of tabs"
         [heading]="tab.title"
         (selectTab)="onChangeTab(tab)"
         (deselect)="tab.active = false"
         >
        </tab>
    </tabset>
   </div>
 <div class="col col-4 col-offset-2">
   <div>status</div>
   <a>
<i (click)="count = reset(count)" class="fas fa-heart-broken" [ngClass]="{'icon-color-black': count === 1}" [ngClass]="{'icon-color-green': count === 2}" [ngClass]="{'icon-color-blue': count === 3}" [ngClass]="{'icon-color-red': count === 4}"></i>
{{count}}
   </a>
 </div>
 </div>

 