.icon-color-red {
    color: rgb(214, 20, 20);
}
.icon-color-green {
    color: rgb(6, 141, 27);
}
.icon-color-blue {
    color: rgb(6, 37, 139);
}
.icon-color-black {
    color: rgba(22, 21, 21, 0.863);
}